
.searchArea{
    display: grid;
    grid-template-columns: 10fr 1fr;
    justify-content: space-around;
}

input,
input:focus{
    outline: none;
    border: 0;
    border-bottom: 1px solid #000;
    background-color: transparent;
}

img{
    width:1em;
}

.all_search{
    position:relative;
}

.list{
    position: absolute;
    width: 300px;
    height: 45px;
    overflow: scroll;
    background-color:#fff;
    z-index: 5;
    padding: 5px;
    /* border: 1px solid #000; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}